body{
    .nav-links a {
        font-family: "Barlow";
        font-weight: 400;
        &:last-child {
            font-family: "Fraunces";
            font-weight: 500;
        }
    }
    h2,
    h3,
    a {
        font-family:  "Fraunces";
        font-weight: 900;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1rem;
    }
    p,
    li {
        font-family: "Barlow";
        font-weight: 400;
        font-size: 18px;
    }
    .testimonials p {
        font-size: 0.8rem;
        @media(min-width:768px){
            font-size: 0.9rem;
        }
    }
    .modal-container li {
        font-family:  "Barlow";
        @media(min-width:768px){
             font-size: 1.5rem;
        }
        
        &:last-child {
            font-family: "Fraunces";
            font-weight: 700;
        }
    }
}
